/* =================================== General Code =================================== */

:root {
    font-family: 'Rambla', sans-serif;
    --maxwidth: 1128px;
    --maxWidthNoMargin: 1076px;
    --minWidth:769px;
    --minWdthNoMargin: 717px;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: black;
}

input {
    width: 100%;
}

img {
    width: 100%;    
    height: 100%;
}

/* =================================== Header -> menu =================================== */

/* ========================== Out Containers */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    min-width: var(--minWidth);
    width: 100%;
    height: 59px;
    background: #FFFFFF;
    z-index: 10000000000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--maxwidth);
    height: 100%;
    width: 100%;
}

/* ========================== Search Bar + logo */

.imageWrapper {
    width: 34px;
    height: 34px;
    min-width: 34px;
}

.iconSearchWrapper label img,label {
    cursor: text;
}

.iconSearchWrapper {
    cursor: text;
}

.containerMenuSearch {
    display: flex;
    width: 100%;
    margin-left: 28px;
    min-width: 276px;
}

.searchBar {
    display: inline-flex;
    height: 34px;
    margin-left: 7px;
    border-radius: 4px;
    width:100%;
}

#search {
    width: 200px;
    background-color: #EEF3F7;
    border: none;
    font-size: 12px;
    border-radius: 4px;
    padding-left: 0px;
}

#searchShadow {
    visibility: hidden;
    z-index: 100000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #00000099;
}

#search:focus + #searchShadow {
    visibility: visible;
    z-index: 100000;
    margin-top: 59px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #00000099;
}

#search:focus {
    padding-left: 15px;
    width: 80%;
    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    background-color: #EEF3F7;
}

.iconSearchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 8px 12px 15px;
    width: 11px;
    height: 11px;
    background-color: #EEF3F7;
}

/* ========================== Menu Icon Buttons + Me Button */

.iconWrapper {
    padding-bottom: 5px;
    width: 20px;
    height: 20px;
}

.menuButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7.8vw;
    min-width: 63px;
    max-width: 85px;
}

.iconButtons p {
    color: black;
    opacity: 0.65;
    font-size: 10px;
}

.iconButtons div {
    opacity: 0.65;
}

.iconButtons:hover p{
    opacity: 1;
}

.iconButtons:hover div{
    opacity: 1;
}

#myImage{
    border-radius: 25px;
}

#mePadding {
    display: flex;
    width: 70px;
    min-width: 70px;
    /* padding-left: 5px; */
}

#mePadding div{
    opacity: 1;
}

/* =================================== MAIN CODE =================================== */

/* ========================== Out Containers */

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: var(--minWidth);
    background: #F3F2EE;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: var(--maxwidth);
    height: 100%;
    width: 100%;
    height: fit-content;
}

.profile {
    display: flex;
    flex-direction: column;
    max-width: var(--maxWidthNoMargin);
    min-width: var(--minWdthNoMargin);
    background-color: white;  
    height: fit-content;
    max-height: 460px;
    margin: 0px 26px;
    margin-top: 38px;
    margin-bottom: 32px;
    border-radius: 10px;
    padding-bottom: 28px;   
}

.about {
    display: flex;
    flex-direction: column;
    max-width: var(--maxWidthNoMargin);
    min-width: var(--minWdthNoMargin);
    background-color: white;
    margin: 0px 26px;
    margin-bottom: 38px;
    border-radius: 10px;
    padding-bottom: 15px;
    height: 100%;   
}

/* ========================== Personal Profile Background*/

.imagesContainer {
    height: 245px;
}

.backgroundImageWrapper {
    height: 195px;
    min-width: var(--minWdthNoMargin);
}

#backgroundProfileRadius {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* ========================== Personal Profile Picture*/

.positioning {
    width: 158px;
    height: 158px;
    position: relative;
    top: -110px;
    left: 32px;
}

.profilePictureBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 158px;
    height: 158px;
    background: white;
    background-clip: content-box;
    border-radius: 50%;
}

.profilePicture{
    padding: auto;
    width: 150px;
    height: 150px;   
    background: transparent;
}

#profilePictureRadius {
    border-radius: 50%;
}

/* ========================== Personal Profile Information*/

.profileInformationContainer{
    display: flex;    
}

.profileInformation {
    display: flex;
    flex-direction: column;
    height: 82px;
    margin-left: 22px;
}

.profileInformation h1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
}

.profileInformation h2 {
    font-size: 14px;
    line-height: 1.4;
}

.profileInformation h3 {
    font-size: 12px;
    color: #666666;
    line-height: 1.4;
}

.hiperLink a{
    font-weight: 600;
    color: #0B65C2;
}

.hiperLink::before {
    content: "\00B7";
}

/* ========================== Personal Profile Buttons */

.profileButtonsContainer {
    display: flex;
    padding: 0px 20px;
    height: 32px;
    width: 100%;
}

.profileButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #666666;
    color: black;
    border: 1px solid;
    border-color: black;
    background-color: white;
    margin-right: 10px;
    border-radius: 17px;
    overflow: hidden;
    border-color: #00000099;
    color: #00000099;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    padding: 0px 16px;
}

.blueButton {
    color: white;
    border-color: #0B65C2;
    background-color: #0B65C2;
    max-width: 185px;
}

.profileButtons:hover {
    transition-timing-function: line;
    transition-duration: 0.2s;
    transition-property: background-color,box-shadow,color;
    background-color: #00000015;
    color: #00000099;
    box-shadow: inset 0 0 0 1px #00000099;
}

.blueButton:hover {
    background-color: #004182;
    color: white;
    border-color: #004182;
    box-shadow: none;
}

.profileButtonsContainer div {
    display: flex;
}

/* ========================== About Block (Experience + Education)  */

.aboutExperienceContainer {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-left: 24px;
    border-bottom: #EBEBEB 1px solid;
}

.aboutExperienceTitle h2{
    padding-bottom: 10px;
    font-size: 20px;    
}

.aboutExperienceActivityContainer{
    padding-top: 25px;
}

.aboutImageWrapper{
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
}

.aboutExperienceActivity {
    display: flex;
    flex-direction: column;
}

.aboutExperienceActivity li a {
    display: flex;
    padding-bottom: 19px;
}

.aboutExperienceActivity li a section:last-child {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    border-bottom: none;
}

.aboutExperienceInfo {
    margin-left: 24px;
    width: 100%;    
    border-bottom: #EBEBEB 1px solid;
}

.aboutExperienceInfo h1 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.aboutExperienceInfo h2 {
    font-size: 14px;
    line-height: 1.4;
}

.aboutExperienceInfo h3 {
    font-size: 14px;
    line-height: 1.4;
    color: #00000099;
}

.aboutExperienceInfo p {
    margin-top: 10px;
    padding-right: 70px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.aboutExperienceInfo:last-child {
    padding-bottom: 15px;
}

.aboutEducationContainer {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-left: 24px;
}

a div:hover h1,a div:hover h2,a div:hover h3{
    width: fit-content;
    text-decoration: underline;
    text-decoration-color: #0a66c2;
}

a section:hover h1,a section:hover h2,a section:hover h3{
    width: fit-content;
    text-decoration: underline;
    text-decoration-color: #0a66c2;
}

a div img:hover h1{
    text-decoration: underline;
    text-decoration-color: #0a66c2;
}